HOST=
PORT=4000
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

ZERNIO_API_KEY=
ZERNIO_PROFILE_ID=
ZERNIO_PROFILE_NAME=

AYRSHARE_API_KEY=
AYRSHARE_DOMAIN=
AYRSHARE_PROFILE_KEY=
AYRSHARE_PRIVATE_KEY=
